.env
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/dist
/tmp/
/node_modules
/dist
.active_admin_sample/public/uploads
.npmrc
.active_admin_sample/node_modules
/.parcel-cache
/public/uploads
/test/dummy/log/*
/test/dummy/tmp/
